<div class="pole">
  <div class="pole__add-row pole__button pole__button-add"><i class="fa fa-plus"></i></div>
  <div class="pole__add-col pole__button pole__button-add"><i class="fa fa-plus"></i></div>
  <div class="pole__remove-row pole__button pole__button-remove"><i class="fa fa-minus"></i></div>
  <div class="pole__remove-col pole__button pole__button-remove"><i class="fa fa-minus"></i></div>
  <table class="pole__table">
    <tr class="pole__row">
      <td class="pole__cell"></td>
    </tr>
  </table>
</div>

<button class="create-server">Create server</button>
