.field__state {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #50a4cc;
  text-align: center;
  position: relative;
  box-sizing: content-box;
}

.field__state-params {
  position: absolute;
  top: 0;
  left: 100%;
  background: #60c6f0;
  padding: 0 10px;
}

.field__state-params.ng-animate {
  -webkit-transition: left 200ms;
  -moz-transition: left 200ms;
  -ms-transition: left 200ms;
  -o-transition: left 200ms;
  transition: left 200ms;
}

.field__state-params.ng-hide {
  left: 0;
}

.field__state-icon-wrapper {
  background: #60c6f0;
  position: relative;
  z-index: 2;
}

.field__state-icon-wrapper:hover {
  background: #5bb6df;
  cursor: pointer;
}

.field__cell-params {
  font: 10px Arial;
}

.field__state-params-field {
  width: 35px;
  font: 15px Arial;
  text-align: center;
  border: 1px solid #50a4cc;
}

.field__state-checker {
  width: 50px;
  position: absolute;
  box-shadow: #4A8EAA 1px 1px 5px;
}

.field__table {
  border: 1px solid #4dabe4;
  border-spacing: 2px;
  border-collapse: separate;
}

.field__cell {
  background: #4dabe4;
  width: 50px;
  min-width: 50px;
  height: 50px;
  padding: 0;
  vertical-align: middle;
  text-align: center;
}

.field__button {
  line-height: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
  -webkit-transition: background 300ms;
  -moz-transition: background 300ms;
  -ms-transition: background 300ms;
  -o-transition: background 300ms;
  transition: background 300ms;
  content: "";
  position: absolute;
}

.field__button-add {
  background: #f1a417;
  margin: 2px 0 0 2px;
}

.field__button-add:hover {
  background: #ffaf17;
}

.field__button-remove {
  margin: 0 2px 2px 0;
  background: #B00100;
  opacity: 1;
}

.field__button-remove.ng-animate {
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

.field__button-remove.ng-hide {
  opacity: 0;
}

.field__button-remove:hover {
  background: #940100;
}

.field__button-remove-visible {
  display: block;
}

.field__remove-row {
  right: 100%;
}

.field__remove-col {
  bottom: 100%;
}

.field__add-row {
  top: 100%;
}

.field__add-col {
  left: 100%;
}

.field {
  display: inline-block;
  margin: 52px;
  position: relative;
}

.field__black-hole-index {
  vertical-align: sub;
}

.random-field {
  padding-right: 20px;
  border-right: 1px solid #ddd;
}

.random-field__title {
  line-height: 32px;
}

.field-wrapper {
  display: table;
  width: 100%;
  padding: 10px 20px;
}

.field-wrapper__col {
  display: table-cell;
  vertical-align: top;
}

.field-wrapper__col-left {
  width: 20%;
}

.field-wrapper__col-right {
  width: 80%;
  padding: 0 20px;
}

.create-server-wrapper {
  text-align: center;
  padding: 20px 0 0;
  margin: 0 30px;
  border-top: 1px solid #ddd;
}

.current-fields {
  padding: 0 30px;
}

.current-fields__field {
  margin: 25px 0 ;
}

.current-field__table {
  margin: 10px 0;
}
